################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TestManager/config
/.vs/TestManager/v16/Server/sqlite3
/.vs/TestManager/v16
/Server/bin/Debug/netcoreapp2.2
/Server/obj
/Server/Properties
/.vs/TestManager/DesignTimeBuild
